{
  "TOKEN": "DISCORD-TOKEN-HERE",
  "GENIUS_API_KEY": "LIRYCS-TOKEN-HERE",
  "MAX_PLAYLIST_SIZE": 10,
  "PRUNING": false,
  "LOCALE": "es",
  "STAY_TIME": 15,
  "DEFAULT_VOLUME": 100,
  "LAVALINK_HOST": "localhost",
  "LAVALINK_PORT": 2333,
  "LAVALINK_PASSWORD": "LAVALINK-PASSWORD-HERE",
  "LAVALINK_SECURE": false
}